body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
  }
  
  #story {
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  #start-button {
    background-color: #007bff;
    color: #f01a1a;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .revealed {
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  