<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web App</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="game-container">
        <canvas id="background-layer" width="800" height="400"></canvas>
        <canvas id="character-layer" width="800" height="400"></canvas>
        <div class="message_box">
            <p class="text_message_p"></p>
        </div>
    </div>

    <script src="../static/js/game.js"></script>
</body>
</html>

